<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      |
      <%= link_to 'About', about_path %>
      |
      <%= link_to 'Contact Us', new_contact_path %>
      |
      <%= link_to 'Products', products_path %>
      |
      <%= link_to 'New Product', new_product_path %>
      <% if user_signed_in? %>
      |
      <span>Logged in as: <%= current_user.first_name %></span>
      |
      <%= 
        link_to 'Sign Out', 
        session_path, 
        method: :delete, 
        data: { confirm: "Log out?"}
      %>
      <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Sign Up', signup_path %>
      <% end %>
    </nav>
    <% flash.each do |type, message| %>
          <div>
            <%= message %>
          </div>
    <% end %>
    <%= yield %>
  </body>
</html>
